/* -> reset css <- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input {
    border: 0;
}


/* -> boot css <- */

.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

img {
    width: 100%;
    max-width: 400px;
}

.text-center {
    text-align: center;
}

.w50 {
    padding: 0 2%;
    width: 50%;
}

.w33 {
    width: 33.3%;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}


/* -> estilização <- */


/* -> Header <- */

header {
    background-color: #262626;
    padding: 20px 0;
}

header .logo a {
    font-weight: 300;
    font-size: 23px;
    color: white;
    text-transform: uppercase;
}

.mobile {
    display: none;
}

nav.desktop ul {
    position: relative;
    top: 5px;
}

nav.desktop li {
    display: inline;
    font-weight: 300;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
}

nav.desktop a {
    color: white;
}


/* -> Banner Conteiner <- */

.banner-conteiner {
    width: 100%;
    height: 600px;
    position: relative;
}

.banner-single {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-position: cente;
    display: none;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.6);
    z-index: 2;
}

section.banner-conteiner form {
    width: 93%;
    max-width: 600px;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section.banner-conteiner form h2 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

#title-banner-conteiner::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

section.banner-conteiner form input[type=email] {
    width: 100%;
    height: 66px;
    background: white;
    color: #333;
    font-size: 23px;
    padding-left: 10px;
    margin-top: 10px;
}

section.banner-conteiner form input[type=submit] {
    width: 100%;
    height: 66px;
    background: #2E4159;
    color: white;
    font-size: 23px;
    padding-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 22px;
}

.bullets {
    position: absolute;
    z-index: 5;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.bullets span {
    margin: 0 10px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #444;
}

.bullets span.active-slider {
    background-color: white;
}


/* -> Descrição Autor <- */

section.descricao-autor {
    padding: 40px 0;
}

section.descricao-autor h2 {
    font-size: 28px;
    font-weight: 300;
    color: #444;
}

section.descricao-autor p {
    font-size: 16px;
    color: #444;
    margin-top: 10px;
    font-weight: 300;
}


/* -> Especialidades <-*/

section.especialidades {
    padding: 40px 0;
    background-color: #4e6a8c;
}

section.especialidades .title {
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 28px;
}

section.especialidades .box-especialidades {
    color: white;
    font-weight: 300;
    padding: 40px 10px;
    text-align: center;
    opacity: 0;
}

section.especialidades .box-especialidades h4 {
    color: white;
    font-weight: 300;
    padding-bottom: 10px;
    font-size: 25px;
}

section.especialidades .box-especialidades p {
    color: white;
    font-weight: 300;
}

section.especialidades .box-especialidades h3 i {
    color: white;
    font-weight: 300;
    font-size: 40px;
    padding-bottom: 20px;
}


/* -> extras <-*/

section.extras {
    padding: 40px 0;
    background-color: #405a77;
}

section.extras h2 {
    color: aliceblue;
    font-weight: 400;
    font-size: 28px;
    padding-bottom: 20px;
}

section.extras .depoimento-single {
    padding: 10px 0;
    border-bottom: 1px solid white;
}

section.extras p {
    color: aliceblue;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    font-style: italic;
}

section.extras p.nome-autor {
    font-weight: bold;
    font-style: normal;
}

section.extras li {
    color: aliceblue;
    font-weight: 300;
    font-size: 16px;
    padding: 10px 0;
    text-align: justify;
}

.servicos ul li {
    list-style: disc;
    font-weight: 300;
}


/* -> Contato<-*/

section.banner-contato {
    background-image: url(../images/bg-form.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;
}

.banner-contato-conteiner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title-contato {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

#title-contato::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

section.contato {
    min-height: 600px;
    background-size: cover;
    padding: 60px 0;
}

section.contato .center {
    text-align: center;
}

section.contato .conteiner-contato {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#titulo {
    color: white;
    font-size: 30px;
    font-weight: 300;
    padding: 20px 0;
}

#subtitulo {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

section.contato form {
    padding-top: 40px;
}

.box-alert {
    width: 100%;
    padding: 8px 0;
    text-align: center;
}

.box-alert p {
    color: white
}

.sucesso {
    background-color: #00e699 !important;
}

.erro {
    background-color: #f75353;
}

.campo {
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 20px;
}

.campo input {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.mensagem {
    padding-left: 20px;
    padding-bottom: 20px;
}

.mensagem textarea {
    width: 620px;
    height: 120px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
    font-size: 20px;
    resize: vertical;
}

.botao {
    padding-left: 20px;
    padding-bottom: 20px;
}

.botao input {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: #1848A0;
    cursor: pointer;
}


/* -> Footer <-*/

footer {
    padding: 15px 0;
    background-color: #000000;
}

footer p {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}

footer.fixed {
    position: absolute;
    bottom: 0;
    width: 100%;
}

section.error-404 {
    height: 800px;
}

section.error-404 .esquerda {
    height: 800px;
}

.img-conteiner {
    position: absolute;
}

.img-404 {
    position: relative;
    left: 50%;
    top: 50%;
}


/* portal de noticias */

section.header-noticias {
    background-image: url(../images/bg-form.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
}

section.header-noticias h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title-noticias-conteiner {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 300;
}

#title-noticias-conteiner::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

section.conteiner-portal {
    padding: 50px 0;
}

.box-content-sidebar {
    background-color: #DDDDDD;
    padding: 15px;
    color: #333864;
    margin-bottom: 40px;
    border-radius: 10px;
}

.box-content-sidebar h3 {
    font-size: 18px;
    font-weight: normal;
}

.sidebar {
    float: left;
    width: 30%;
}

.box-content-sidebar i {
    padding-left: 5px;
}

.box-content-sidebar input[type=text] {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(220, 220, 220);
    padding-left: 8px;
    margin: 10px 0;
}

.box-content-sidebar select {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(220, 220, 220);
    padding-left: 8px;
    margin: 10px 0;
    background-color: white;
}

.box-content-sidebar input[type=submit] {
    cursor: pointer;
    background-color: #F40B5C;
    color: white;
    width: 115px;
    height: 35px;
    border: 0;
    margin: 10px 0;
}

.autor-box-portal {
    text-align: center;
}

.box-img-autor {
    margin: 20px 0;
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-size: cover;
    background-image: url(../images/foto.jpg);
}

.autor-box-portal h3,
.autor-box-portal p {
    color: #222222;
}

.autor-box-portal p {
    font-size: 15px;
    margin-top: 8px;
    font-weight: 300;
}

@media screen and (max-width:850px) {
    nav.desktop {
        display: none;
    }
    .botao-menu-mobile {
        font-size: 24px;
        color: white;
        cursor: pointer;
    }
    nav.mobile {
        display: block;
    }
    nav.mobile ul {
        top: 55px;
        z-index: 3;
        display: none;
        position: absolute;
        left: 0;
        text-align: center;
        width: 100%;
    }
    nav.mobile li {
        display: block;
        width: 100%;
        background: white;
        font-size: 17px;
        border-bottom: 1px solid #ccc;
        padding: 8px 0;
        font-weight: 300;
    }
    nav.mobile li a {
        display: block;
        font-size: 16px;
        color: #444;
    }
}

@media screen and (max-width: 768px) {
    .w50 {
        float: none;
        width: 100%;
        padding: 20px;
    }
    img {
        display: block;
        margin: 0 auto;
        float: none !important;
    }
}

@media screen and (max-width:700px) {
    .w33 {
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
    .mensagem textarea {
        width: 300px;
        height: 160px;
        padding-left: 10px;
        border-radius: 10px;
    }
}